PORT=
DATABASE_URL="postgresql://trackiny:password@localhost:5432/trackiny"
JWT_SECRET=
FRONTEND_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/github/callback
GITHUB_ENCRYPTION_KEY=
CODEFORCES_CLIENT_ID=
CODEFORCES_CLIENT_SECRET=
CODEFORCES_CALLBACK_URL=http://localhost:3000/codeforces/callback
CODEFORCES_OIDC_DISCOVERY_URL=https://codeforces.com/.well-known/openid-configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
RESEND_API_KEY=
EMAIL_FROM="Trackiny <onboarding@resend.dev>"
